.App {
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
}
